* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

input {
  outline: none;
}

button {
  outline: none;
  cursor: pointer;
  border: none;
}

/* task-1 */

#categories {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0 auto;
  max-width: 440px;
}

.item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
  border-radius: 8px;
  padding: 16px;
  width: 392px;
  height: auto;
  background: #f6f6fe;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.categories-title {
  font-weight: 600;
  font-size: 24px;
  /* line-height: 32px; */
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.categories-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.categories-item {
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 8px 16px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

/* task-2 */

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  max-width: 1128px;
  width: 100%;
  margin: 100px auto;
  justify-content: flex-start;
  align-items: stretch;
  padding: 0 16px;
}

.gallery-item {
  flex: 1 1 320px;
  min-width: 220px;
  width: 360px;
}

.gallery-img {
  display: block;
  height: 300px;
  width: 100%;
  object-fit: cover;
}

/* task-3 */

#name-input {
  display: block;
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  margin-bottom: 16px;
  width: 360px;
  height: 40px;
}

#name-input::placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

#name-input:focus::placeholder {
  opacity: 0;
  transition: opacity 0.3s;
}

.h1 {
  font-weight: 600;
  font-size: 24px;
  /* line-height: 32px; */
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

/* task-4 */

.login-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 24px;
  max-width: 408px;
  background: #fff;
  border-radius: 8px;
}

.login-form label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.login-form input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 10px 12px;
  box-sizing: border-box;
  font-size: 16px;
  border: 1px solid #cfcfcf;
  border-radius: 8px;
  background: #fff;
  transition:
    box-shadow 0.15s ease,
    border-color 0.15s ease;
}

.login-form input:hover,
.login-form input:focus {
  border-color: #000;
}

.login-form input::placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.login-form button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 8px;
  padding: 8px 16px;
  margin-top: 8px;
  width: 86px;
  height: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4e75ff;
}

.login-form button:hover,
.login-form button:focus {
  background: #6c8cff;
}

/* task-5 */

.widget {
  border-radius: 8px;
  padding: 100px 88px;
  width: 345px;
  height: 280px;
  background: #fff;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.widget-color {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  text-align: center;
}

.color {
  font-weight: 400;
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.change-color {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 8px;
  padding: 8px 16px;
  width: 148px;
  height: 40px;
  background: #4e75ff;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  transition: all 0.3s ease;
}

.change-color:hover,
.change-color:focus {
  background: #6c8cff;
}

